.App {
  background-image: url('./bg-cyber.jpg');
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
    "title title title"
    ". timer ."
    "footer footer footer";
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 250px auto auto auto auto
}
.App-link {
  color: #61dafb;
}
#title{
  grid-area: title;
  width: auto;
  min-width: 300px;
  padding: 25px;
}
#timer{
  grid-area: timer;
  width: 100%;
}
#footer{
  grid-area: footer;
}

